* {
	font-family: Verdana, Geneva, sans-serif;
}

nav {
  overflow: hidden;
  margin-bottom: 10px;
}
nav button {
  margin-right: 10px;
}
nav button a {
  text-decoration: none;
  color: black;
}

.right {
  float: right;
}
.left {
  float: left;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

/*.star-off { 
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
}

.star-on { 
	background-color: #FFFF00;
	width: 10px;
	height: 10px;
}*/

.center {
	text-align: center;
}