<h3>Edit your Profile:</h3>

<h4><form action="/users" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="first_name" value="<%= @user.first_name%>">
  <input type="text" name="last_name" value="<%= @user.last_name%>" />
  <input type="text" name="email" value="<%= @user.email %>" />
  <input type="submit" value="Update Profile">
</form></h4>

<p><a href="/users/<%= current_user.id %>">Profile</a></p>
