<button class="btn left"><a href="/">Back</a></button>
<br>

<div class="center">
  <form action="/users/new" method="post">
    <h3>Name</h3>
    <input type="text" name="user[:name]" />
    <br>

    <h3>Gender</h3>
    <input type="text" name="user[:gender]" />
    <br>

    <h3>Email</h3>
    <input type="text" name="user[:email]" />
    <br>

    <h3>Username</h3>
    <input type="text" name="user[:username]" />
    <br>

    <h3>Password</h3>
    <input type="password" name="user[:password]" />
    <br>

    <input type="submit" value="Register">
  </form>
</div>

