<nav>
  <% if logged_in? %>
    <button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
    <button class="btn left"><a href="/">Search</a></button>
    <button class="btn left"><a href="/tags">Tags</a></button>
    <button class="btn left"><a href="/conversations">Convos</a></button>
    <button class="btn left"><a href="/buddies">Buddies</a></button>
    <button class="btn left"><a href="/users/<%= current_user.id %>/events">Events</a></button>
    <button class="btn right"><a href="/logout">Logout</a></button>
  <% else %>
    <button class="btn left"><a href="/login">Login</a></button>
    <button class="btn left"><a href="/users/new">Register</a></button>
    <button class="btn left"><a href="/">Search</a></button>
  <% end %>
</nav>
<br>

<div class="center">
  <form action="/events" method="post">
    <h3>Name</h3>
    <input type="text" name="event[name]" />
    <br>

    <h3>Time</h3>
    <input type="text" name="event[time]" />
    <br>

    <h3>Location</h3>
    <input type="text" name="event[location]" />
    <br>

    <h3>Private?</h3>
    <input type="radio" name="event[is_private]" value="true" />
    <br/>

    <% if @user.id != current_user.id %>
      
    <% else %>
      
    <% end %>

    <input type="submit" value="Create Event">
  </form>
</div>
