<button class="btn left"><a href="/">Back</a></button>
<button class="btn right"><a href="/logout">Logout</a></button>
<br>

<div class="center">
  <form action="/events/new" method="post">
    <h3>Name</h3>
    <input type="text" name="name" />
    <br>

    <h3>Time</h3>
    <input type="text" name="time" />
    <br>

    <h3>Location</h3>
    <input type="text" name="location" />
    <br>

    <input type="submit" value="Create Event">
  </form>
</div>
