<button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
<button class="btn left"><a href="/tags">Tags</a></button>
<button class="btn left"><a href="/conversations">Convos</a></button>
<button class="btn left"><a href="/buddies">Buddies</a></button>
<button class="btn left"><a href="/users/<%= current_user.id %>/events">Events</a></button>
<button class="btn right"><a href="/logout">Logout</a></button>

<br>
<div class="center">
  <h3>Your Tags:</h3>
  <% @tags.each do |tag| %>
    <p>
      <form action="/results" method="post">
        <input type="submit" name="tag" value="<%= tag.name %>" />
      </form>
      <form action="/tags/<%= tag.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    </p>
  <% end %>
  <p><a href="/tags/new">Add Tags</a></p>
</div>

