<%= erb :_nav_bar, layout: false %>

<div class="tag_wrapper center">
  <div class="new_tag center">
    <form id="tag_form" action="/tags" method="post">
      <input type="text" name="name" />
      <input type="submit" value="Add Tag">
    </form>
  </div>
  <h3>Your Tags:</h3>
  <div class="tag_list">
    <% @tags.each do |tag| %>
      <%= erb :"tags/_new", layout: false, locals: {tag: tag} %>
    <% end %>
  </div>

</div>

