<button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
<button class="btn left"><a href="/tags">Tags</a></button>
<button class="btn left"><a href="/conversations">Convos</a></button>
<button class="btn left"><a href="/buddies">Buddies</a></button>
<button class="btn left"><a href="/users/<%= current_user.id %>/events">Events</a></button>
<button class="btn right"><a href="/logout">Logout</a></button>
<br>

<div class="center">
	<h3>Tags:</h3>
	<ul>
	  <% @tags.each do |tag| %>
	    <li><%= tag.name %></li>
	  <% end %>
	</ul>

	<form action="/tags" method="post">
	  <input type="text" name="tag" />
	  <input type="submit" value="Add Tag">
	</form>
</div>
