<nav>
  <% if logged_in? %>
    <button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
    <button class="btn left"><a href="/tags">Tags</a></button>
    <button class="btn left"><a href="/conversations">Convos</a></button>
    <button class="btn left"><a href="/buddies">Buddies</a></button>
    <button class="btn left"><a href="/users/<%= current_user.id %>/events">Events</a></button>
    <button class="btn right"><a href="/logout">Logout</a></button>
  <% else %>
    <button class="btn left"><a href="/login">Login</a></button>
    <button class="btn left"><a href="/users/new">Register</a></button>
  <% end %>
</nav>
<br />

<div class="center">
	<h1>EVERYBUDDY :)</h1>
	<h3>Cuz everyone's looking for a buddy</h3>
	<h4><p>What kind of buddy are you looking for?</p>
	<form action="/results" method="post">
	  <input type="text" name="tag" placeholder="BUDDY TIME">
	  <input type="submit" >
	</form></h4>
</div>

