<%= erb :_nav_bar, layout: false %>

<div class="center">
	<h1>EVERYBUDDY :)</h1>
	<h3>Cuz everyone's looking for a buddy</h3>
	<h4><p>What kind of buddy are you looking for?</p>
	<form action="/results" method="post">
	  <input type="text" name="tag" placeholder="BUDDY TIME">
	  <input type="submit" >
	</form></h4>
</div>

<div class="result_wrapper center">
  <h1>RESULTS:</h1>
	  <div class="event_list">
	    <% @events.each do |event| %>
	      <%= erb :"_results", layout: false, locals: {event: event} %>
	    <% end %>
	  </div>
</div>