<%= erb :_nav_bar, layout: false %>

<main>
	<div class="search_wrapper center">
		<h1>EVERYBUDDY :)</h1>
		<h3>Cuz everyone's looking for a buddy</h3>
		<h4><p>What kind of buddy are you looking for?</p>
		<form class="search_form" action="/results" method="post">
		  <input type="text" name="tag" placeholder="BUDDY TIME">
		  <input type="submit" >
		</form></h4>
	</div>

	<% if @events %>
		<%= erb :"_results", layout: false, locals: {events: @events, search_tag: @tag} %>
	<% end %>
</main>