<% if logged_in? %>
  <h4>Welcome back <%= current_user.first_name + " " + current_user.last_name %><h4>
  <p><a href="/logout">Logout</a></p>
  <p><a href="/">Search</a></p>
<% else %>
  <p><a href="/login">Login</a></p>
  <p><a href="/register">Register</a></p>
	<p><a href="/">Search</a></p>
<% end %>

<form action="/profile/<%=@user.id%>/edit" method="get">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Edit Profile">
</form>
<form action="/profile/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete User">
</form>

<!-- #messages
#buddies
#awesomeness points
#about me
#if someone else's pf, show if endorsed or not
 -->
